html {
    height: 100%;
}
body {
    min-height: calc(100% - 16px);
}
#root {
    min-height: calc(100vh - 16px);
}
.height-35{
    height: 35px;
    line-height: 100%;
    min-height: 35px !important;
}